.main {

  &__wrapper {
    @include flex-row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 944px;
    margin: 0 auto;
  }

  .product {
    @include flex-column;
    align-items: center;
    width: 200px;
    padding: 16px 14px 15px;
    border: 1px solid #f3f3f3;
    border-radius: 4px;
    margin-bottom: 50px;

    &__wrapper {
      margin-bottom: 31px;
    }

    &__img {
      width: 166px;
      height: 164px;
      background-repeat: no-repeat;
      background-position: center;
      padding: 12px 0;
      border: 3px solid transparent;
      border-radius: 4px;
      transition: transform 1s;
      &:hover {
        transform: scale(1.2);
        border-color: #f3f3f3;
      }
    }

    &__button {
      display: inline-block;
      background-color: $blue;
      width: 170px;
      height: 40px;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      line-height: 40px;
      color: #ffff;
      text-transform: uppercase;
      border: 1px solid $blue;
      border-radius: 4px;
      transition: background-color 0.5s, color 2s;

      &:hover {
        background-color: #ffff;
        color: $blue;
      }
    }
  }

  .description {
    @include flex-column;
    justify-content: flex-start;
    margin-bottom: 14px;

    &__name {
      @include heading-text;
      margin-bottom: 4px;
    }
  }

  .rate {
    @include flex-row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 22px;

    &__stars {
      @include flex-row;

      .rate__star {
        @include star;
      }
    }
  }

  .price {
    @include flex-row;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: 20px;

    &__amaunt {
      @include bold-font;
    }
  }
}

@for $i from 1 through 5 {
  .stars--#{$i} .rate__star:nth-child(-n + #{$i}) {
    background: url("../images/star-active.svg") no-repeat center;
  }
}
