.main {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-evenly;
    width: ($product-width * 4) + ($product-margin * 3);
    grid-gap: 50px 45px;
  }

  &__heading {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
}
